# Functions

In [1]:
# Let's define our first function that takes a number and adds one.
def add_one(number):
    
    # Add one to number
    number_plus_one = number + 1
    
    # Return result
    return number_plus_one

In [4]:
# Let's define another function
def add_one_str(number):
    
    # Add one to nmber
    number_plus_one = number + 1
    
    # Print results
    print(number_plus_one)

In [9]:
x = add_one(5)

In [10]:
y = add_one_str(5)

6

In [11]:
print(x, y)

6 None

In [12]:
# Functions return more than one output
def add_one_return_both(num1):
    
    # Add one to num1
    num2 = num1 + 1
    
    return num1, num2

In [13]:
x, y = add_one_return_both(5)

print(x, y)

5 6

In [14]:
# Functions can have two inputs and default values!
def num_pow(num, exponent=2):
    
    return num ** exponent

In [15]:
num_pow(2)

4

In [16]:
num_pow(2, 3)

8

In [19]:
# Positional arguments vs keyword arguments
def subtract(num1, num2):
    return num1 - num2

In [20]:
# Use positional arguments
subtract(5, 2)

3

In [21]:
subtract(2, 5)

-3

In [22]:
# I can swap arguments if I use the parameter names
subtract(num2=2, num1=5) == subtract(5, 2)

True

In [39]:
# Functions can take a variable number of arguments
def add_all_numbers(*numbers):
    
    # What is the object type of *numbers?
    #print(type(numbers))
    
    # Initialize counter that collect sum of numbers
    total = 0
    
    #print(numbers)
    # Add up all numbers (without knowing exactly how many numbers there are)
    for nr in numbers:
        total += nr
        
    return total

In [41]:
print(add_all_numbers(1, 2, 3))
print(add_all_numbers(1, 2, 3, 4, 5, 6))

6
21

In [1]:
# Define function without parameters
def msg():
    print("Hello world!")

In [3]:
msg()

Hello world!

In [7]:
# Define a function and write docstring
def cast_lastitems_to_string(list_of_objects):
    """
    Casts a list of various elements to string.
    
    The function that casts elements in a list to a list of strings,
    whatever their original type is.
    
    Parameters
    -------------------
    list: A list of various data types.
    
    Returns
    -------------------
    list: A list of strings
    """
    for i in range(len(list_of_objects)):
        list_of_objects[i] = str(list_of_objects[i])
        
    # return
    return list_of_objects

In [5]:
help(cast_lastitems_to_string)

Help on function cast_lastitems_to_string in module __main__:

cast_lastitems_to_string(list_of_objects)
    Casts a list of various elements to string.

    The function that casts elements in a list to a list of strings,
    whatever their original type is.

    Parameters
    -------------------
    list: A list of various data types.

    Returns
    -------------------
    list: A list of strings

In [8]:
# Let's try out the function
test_list = [1, 'a', 2842, "abcdef"]

cast_lastitems_to_string(test_list)

['1', 'a', '2842', 'abcdef']

### Lambda functions
Are anonynomous functions that can be useful. They use the `lambda` keyword.

In [9]:
# For comparison define function that returns the square of a number
def square(num):
    """
    Returns the square of a number.
    
    Parameters
    ---------------
    num: (real) number
    
    Returns
    ---------------
    num2: square of (real) number
    """
    
    return num**2

In [10]:
# Analogous lambda function
square_lambda = lambda x: x**2

In [11]:
square_lambda(2)

4

In [12]:
# Can you combine lambda functions with list comprehensions
ls_numbers = list(range(10))

In [13]:
ls_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# Let's use a list comprehension with our lambda function
sq_one = lambda x: x**2 + 1
[sq_one(x) for x in ls_numbers]

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

In [19]:
# Can also use if statements here
[sq_one(x) for x in ls_numbers if x%2 == 0]

[1, 5, 17, 37, 65]

In [22]:
# Analogous for loop to list comprehension in cell above
test_list = []
for x in ls_numbers:
    if x%2 == 0:
        test_list.append(sq_one(x))
        
test_list

[1, 5, 17, 37, 65]