# Functions

In [1]:
# Let's define our first function that takes a number and adds one.
def add_one(number):
    
    # Add one to number
    number_plus_one = number + 1
    
    # Return result
    return number_plus_one

In [4]:
# Let's define another function
def add_one_str(number):
    
    # Add one to nmber
    number_plus_one = number + 1
    
    # Print results
    print(number_plus_one)

In [9]:
x = add_one(5)

In [10]:
y = add_one_str(5)

6

In [11]:
print(x, y)

6 None

In [12]:
# Functions return more than one output
def add_one_return_both(num1):
    
    # Add one to num1
    num2 = num1 + 1
    
    return num1, num2

In [13]:
x, y = add_one_return_both(5)

print(x, y)

5 6

In [14]:
# Functions can have two inputs and default values!
def num_pow(num, exponent=2):
    
    return num ** exponent

In [15]:
num_pow(2)

4

In [16]:
num_pow(2, 3)

8

In [19]:
# Positional arguments vs keyword arguments
def subtract(num1, num2):
    return num1 - num2

In [20]:
# Use positional arguments
subtract(5, 2)

3

In [21]:
subtract(2, 5)

-3

In [22]:
# I can swap arguments if I use the parameter names
subtract(num2=2, num1=5) == subtract(5, 2)

True

In [39]:
# Functions can take a variable number of arguments
def add_all_numbers(*numbers):
    
    # What is the object type of *numbers?
    #print(type(numbers))
    
    # Initialize counter that collect sum of numbers
    total = 0
    
    #print(numbers)
    # Add up all numbers (without knowing exactly how many numbers there are)
    for nr in numbers:
        total += nr
        
    return total

In [41]:
print(add_all_numbers(1, 2, 3))
print(add_all_numbers(1, 2, 3, 4, 5, 6))

6
21