# Datetime

In [1]:
import datetime

In [2]:
D = datetime.date(2022, 9, 1)
T = datetime.time(12,0,0) # noon
DT= datetime.datetime(2022, 9, 1, 14, 32, 23)

In [3]:
print('D:', D)
print('T:', T)
print('DT:', DT)

D: 2022-09-01
T: 12:00:00
DT: 2022-09-01 14:32:23

In [20]:
print('D:', type(D))
print('T:', type(T))
print('DT:', type(DT))

D: <class 'datetime.date'>
T: <class 'datetime.time'>
DT: <class 'datetime.datetime'>

To make things simple you can always use the `datetime()` function by giving only the date parts as inputs. Hour, minute, and second default to zero.

In [5]:
DT = datetime.datetime(2022, 9, 1)
print('DT:', DT)

DT: 2022-09-01 00:00:00

In [21]:
# datetime objects have useful attributes
DN = datetime.datetime.now()
print(DN.year)
print(DN.month)
print(DN.day)
print(DN.hour)
print(DN.minute)
print(DN.second)

2023
10
2
8
2
38

In [22]:
print(DN.weekday()) # Starts counting at zero (Monday)

0

In [23]:
# Math operations are meaningful with datetime objects
D1 = datetime.datetime(2010, 12, 10, 14, 32, 23)
DN = datetime.datetime.now()
dt = DN - D1
print(dt)

4678 days, 17:30:30.333914

In [9]:
# Yields timedelta objects
type(dt)

datetime.timedelta

In [10]:
# How many days have passed?
print(dt.days)

4678

In [24]:
import time # two useful methods: time.time() and time.sleep()

In [25]:
# Returns current time in seconds since 1 January 1970
print(time.time())

1696226610.6993809

In [26]:
n = 0

while n < 5:
    print(time.time())
    time.sleep(2)
    n += 1

1696226611.1170502
1696226613.1180778
1696226615.1294537
1696226617.1348093
1696226619.1421416

## Pandas and datetime objects

In [27]:
import pandas as pd

In [28]:
# Create some data
df = pd.DataFrame(
    {
        'year': [2022, 2022, 2021],
        'month': [12, 11, 9],
        'day': [15, 14, 9],
        'hour': [23, 20, 6],
        'data': ['a', 'b', 'b']
    }
)

In [29]:
df

   year  month  day  hour data
0  2022     12   15    23    a
1  2022     11   14    20    b
2  2021      9    9     6    b

In [30]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])

In [31]:
df.date

0   2022-12-15
1   2022-11-14
2   2021-09-09
Name: date, dtype: datetime64[ns]

In [32]:
# New col is a pandas timestamp
type(df.date.iloc[0])

pandas._libs.tslibs.timestamps.Timestamp