In [1]:
# Check out native Python functionality
import datetime

In [2]:
D = datetime.date(2022, 9, 1)
T = datetime.time(12, 0, 0) # noon
DT = datetime.datetime(2022, 9, 1, 12, 0, 0)

In [3]:
print('D:', D)
print('T:', T)
print('DT:', DT)

D: 2022-09-01
T: 12:00:00
DT: 2022-09-01 12:00:00

In [4]:
print('Type of D:', type(D))
print('Type of T:', type(T))
print('Type of DT:', type(DT))

Type of D: <class 'datetime.date'>
Type of T: <class 'datetime.time'>
Type of DT: <class 'datetime.datetime'>

In [5]:
# We can also get the current datetime
current_datetime = datetime.datetime.now()
print(current_datetime)

2023-10-02 15:47:08.261976

In [6]:
# Some usefuls properties
print(current_datetime.year)
print(current_datetime.month)
print(current_datetime.day)
print(current_datetime.hour)
print(current_datetime.minute)
print(current_datetime.second)

2023
10
2
15
47
8

In [7]:
# Which weekday is it?
print(current_datetime.weekday())

0

In [8]:
# Arithmetic operations make sense datetime objects
datetime_old = datetime.datetime(1990, 8, 20)
datetime_now = datetime.datetime.now()

In [12]:
# How many days have passed since the instructor's birthday?
dt = datetime_now - datetime_old
print(dt.days)
print(type(dt))

12096
<class 'datetime.timedelta'>

In [13]:
# Check out the time library
import time

In [14]:
print(time.time()) # This tells us how many seconds have passed since 1 January 1970

1696254910.8269293

In [15]:
# Lets check out sleep()
n = 0

while n < 5:
    print(time.time())
    time.sleep(2)
    n += 1

1696255022.729842
1696255024.7398732
1696255026.7431326
1696255028.745327
1696255030.7530088

In [18]:
# Pandas datetime objects
import pandas as pd

In [19]:
# Let's some date data
df = pd.DataFrame({'year': [2022, 2022, 2021],
                  'months': [12, 11, 9],
                  'day': [15, 14, 9],
                  'hour': [23, 20, 9],
                  'data': ['a', 'b', 'c']}
                 )

In [20]:
df.head()

   year  months  day  hour data
0  2022      12   15    23    a
1  2022      11   14    20    b
2  2021       9    9     9    c

In [22]:
# We want to convert the temporal information to a proper data type
df['date'] = pd.to_datetime(df[['year', 'months', 'day', 'hour']])

In [23]:
df['date']

0   2022-12-15 23:00:00
1   2022-11-14 20:00:00
2   2021-09-09 09:00:00
Name: date, dtype: datetime64[ns]